:root {
    --primary-color: red;
    --secondary-color: blue;
    --tertiary-color: green;
}

/* ---- Init ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

p {
    line-height: 1.2;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    font-weight: 800;
}

h2 {
    font-size: 28px;
    font-weight: 800;
}

h3 {
    font-size: 20px;
}

/* ---- Utilities ---- */

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* ---- Header ---- */

header {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header nav {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul li a {
    display: block;
    padding: 10px;
}

/* ---- Footer ---- */

footer {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


/* ---- Sections ---- */

section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
    justify-content: center;
}

section .section-title, section .section-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

section .section-title {
    width: 80%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #333333;
}

/* Section - About */

section#about .feature-image {
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/* Section - Work */
section#work p {
    margin: 0;
}

section#work .card {
    position: relative;
    margin: 20px auto;
}

section#work .card:hover .feature-image {
    opacity: 1.0;
}
section#work .card:hover .feature-content {
    color: rgba(255,255,255,1.0);
    background-color: rgba(255, 0, 0, 1.0);
}

section#work .feature-image {
    margin: 0;
    opacity: 0.8;
}

section#work .feature-content {
    position: absolute;
    bottom: 30px;
    max-width: 60%;
    display: block;
    color: rgba(255,255,255,0.8);
    background-color: rgba(255, 0, 0, 0.8);
    padding: 10px 20px;
}

section#work .feature-content p {
    font-weight: 200;
    font-style: italic;
}

/* Section - Contact */

section#contact nav {
    width: 100%;
}

section#contact nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

section#contact nav ul li {
    text-align: center;
}

section#contact nav ul li a {
    display: block;
    padding: 10px;
}


/* ---- Media Queries ---- */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* @media screen and (min-width: 575px) {

} */

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (min-width: 768px) {
    header {
        justify-content: space-between;
    }

    header h1 {
        padding: 10px;
    }

    header nav {
        justify-content: flex-end;
        max-width: 50%;
    }

    section {
        flex-wrap: nowrap;
        align-items: start;
    }

    section .section-title {
        max-width: 20%;
        height: 125px;
        border-bottom: none !important;
        border-right: 2px solid;
        margin: 0;
        margin-top: 25px;
        margin-right: 25px;
        padding: 0;
        align-items: center;
    }

    section .section-content {
        max-width: 80%;
    }

    section#about .feature-image {
        max-width: 200px;
        max-height: 200px;
    }

    section#work .section-content {
        justify-content: space-between;
    }

    section#work .card {
        margin: 0;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    section#work .card.secondary {
        max-width: calc(50% - 12px);
    }

    section#work .card.secondary .feature-content {
        max-width: 80%;
    }

    section#work .card.secondary .feature-content h3 {
        font-size: 18px;
    }

    section#work .card.secondary .feature-content p {
        font-size: 16px;
    }

    section#contact .section-title {
        height: 50px;
        margin-top: 0;
        padding-top: 0;
        align-items: center;
    }

    section#contact nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (min-width: 980px) {

}